.el-breadcrumb {
  background-color: #ddd;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.el-table {
  border: none;
}
.searchInput {
  margin: 15px 0;
}
.searchInput .el-input {
  width: 240px !important;
}
.searchInput .addDialog .el-input {
  float: right;
  width: 85% !important;
}
