.user {
  overflow: hidden;
  padding: 20px;
}
.user .el-breadcrumb {
  background-color: #ddd;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.user .searchInput {
  margin: 15px 0;
}
.user .searchInput .el-input {
  width: 240px;
}
.user .el-table {
  border: none;
}
