.roles {
  margin-left: 200px;
  padding: 20px;
}
.expandpannerFirst {
  width: 10%;
  float: left;
}
.expandpannerSecond {
  width: 10%;
  float: left;
}
.expandpannerThird {
  width: 80%;
  float: left;
}
